.App {
  text-align: center;
  border: 2px solid rgb(204, 195, 195);
  background: rgb(145, 141, 141);
  border-radius: .6rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-top: 10%;
  align-content: center;
  width: 400px;
}

